page-about {
   
    .ion-card {
        position: relative;
        text-align: center;
        background-color: white;
       
      }

    .ion-card , p{
      text-align: justify;
    }
ion-card-title{
text-align: center;


}
h2{
text-align: center;

}
ion-col{
text-align: cenetr;
}

}
