
 page-needing {    


  .header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
}


    
  .ion-button,button{
    background-color:#127bca;
   
 } 
  

 .caselist{
   background-color: white;
 }      

  .item {
    margin-top:0;  
   
    color:black; 
    padding: 10px;
    }

   .ion-navbar{        
    margin: 10px;
    }

               
     .img1{

     border-radius: 100px;
       height: 35px;
       width: 35px;
                         
     }

     
      ion-icon{
       color: white;     
      
     }

  h2{
    color:black;
     }
    
   
   

        
 }
