
 page-home {

 

  .mypaddingHome{
    padding-top: 10%;
  }
  .button-outline-md2 {
     
    border-color: #0F88DB;
    color: #0F88DB;
 
}

.button-outline-md {
    border-width: 1px;
    border-style: solid;
    border-color: #0F88DB;
    color: #0F88DB;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 45px;
    border-radius: 4px;
}
 


.button-outline-ios {
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #0F88DB;
    color: #0F88DB;
    background-color: transparent;
    
}


.removeTextTransform {
  text-transform: none;
 
}

.toolbar-background-md {
  border-color: #ffffff;
  background: #ffffff;
  background-color: #ffffff;
}

.header header-md{
  background: #ffffff;
  background-color: #ffffff;
}

.mycolor{
  color: #0F88DB;
}



}
