
    page-humancase {
       
      .caselist{
        background-color: white;
      }
       .ion-navbar{
        
        margin: 10px;
       }
       .item-md ion-avatar[item-center]{
          min-width:80px;
          min-height:80px; 
       }
       
       .item {
       margin-top:0;
       
       color:black;
      
       padding: 10px;
      
    
      }
      h2,h3,p{
        color:black;
      }

   
        .img1{

          border-radius: 100px;
            height: 30px;
            width: 30px;                              
          }
          
        }
      

    


         