page-signup {


    .label{

        padding-top: 0;
        padding-right: 10px;        
        color:rgb(97, 90, 90);
        // color:#127bca;
         //color:#f53d3d;      
        font-weight: bold;            
        font-size: 15px;
     
         } 
     
   .ion-list{
       padding-top:10px;
       
        }   
       
  

   .button{
    border-radius: $button-md-border-radius;
     
    width: 100%;
    height: 40px;
    margin:0;          
    padding-right: 5px;
    border:2px;          
    font-size: 15px;
   }
   
   


}
